.navbar-brand {
  position: relative;
  height: 44px;
  padding-left: 14px;
  overflow: hidden;
  transition: all .3s;
}

.navbar-brand img {
  display: inline-block;
  height: 26px;
  vertical-align: middle;
}