<button (click)="onGoBack()" nz-button nzType="primary" class="m-1">< Volver</button>
<div *ngIf="location else loading" class="p-3">
	<div nz-row class="justify-content-start mt-3">
		<div class="justify-content-center" nz-col nzSpan="24">
			<h5 class="text-muted bold text-bold">Nombre: {{ location.name }}</h5>
			<p class="text-muted">#ID: {{ location.id }}</p>
		</div>
	</div>
	<div nz-row class="justify-content-start mt-3">
		<div class="justify-content-center" nz-col nzSpan="24">
				<h2 class="text-muted bold text-bold">Listado de personajes</h2>
		</div>
	</div>

	<div nz-row nzJustify="space-around">
		<div *ngFor="let character of characters" nz-col nzXs="20" nzSm="12" nzMd="8" nzLg="5" nzXl="5" class="m-2">
			<div class="inner-box">
				<app-character [character]="character"></app-character>
			</div>
		</div>
	</div>
</div>

<ng-template #loading>
	<nz-spin nzSpinning [nzDelay]="10"> </nz-spin>
</ng-template>